.common{
    display: flex;
    padding: .5rem .75rem;
    background-color: transparent;
    border-radius: var(--borderRadius);
    margin: .25rem 0;
    border: 1px solid var(--defaultBorderColor);
    font-weight: bold;
    color: var(--defaulColor);
}
.common:focus{
    border-color: var(--defaultBgColor);
    outline: none;
}
