.row {
  display: flex;
  margin: 0.25rem 0;
}
.label {
  min-width: 150px;
  font-weight: bold;
}

.group{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mb0{
  margin-bottom: 0!important;
}