.root{
    padding: 1rem 0;
}
.no{
    padding-right: 0!important;
}
.no-left{
    padding-left: 0!important;
}
.logo{
    padding:0!important;
    width: 100px;


}
.image{
    width: auto!important;
    height: 50px;
    display: block;
}